*
!/backend/
!/frontend/
!/vercel.json
!/.gitignore

# OS/Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
*.log
*.swp
*.swo

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Env files
.env
backend/.env*

# Django
backend/staticfiles/

# Node/Frontend (not used now)

# Coverage/Reports
.coverage
htmlcov/
